* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: darkslategray;
}

a:hover {
  color: black;
  transition: 0.3s;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  font-weight: 500;
  z-index: 1;
}

.navitem {
  padding: 1rem;
  font-size: 1.2rem;
}

.nav_bar {
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 1.5%;
}

/* Hamburger Icon */
.ham_bur {
  color: darkslategray;
  font-size: 2rem;
  display: none;
}

.user:hover {
  color: black;
  transform: scale(0.98);
  cursor: pointer;
}

/* Logo */
.website_name {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 4px;
}

hr {
  width: 98%;
  border: none;
  height: 1px;
  background: radial-gradient(gray, gainsboro);
  margin-bottom: 0%;
  box-shadow: 1px 1px 5px gray;
}
/* Nav bar ends */

/* Image section */
.category_main_body {
  position: relative;
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.showcase {
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.showcaseDoggo {
  padding-top: 80px;
}

.showcaseImage {
  flex-direction: column;
}

.showcaseText {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
}

.scrollImages {
  max-width: 500px;
  overflow: scroll auto;
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslategray;
}

img {
  border-radius: 4px;
}

.container {
  position: relative;
  width: 550px;
  height: 450px;
}

.img_large {
  width: 100%;
  height: 100%;
}

.img_small {
  width: 200px;
  height: 170px;
  margin-top: 10px;
  margin-left: 5px;
  transition: 300ms;
}

.img_small:hover {
  transform: scale(1.05);
}

.category {
  color: black;
  font-size: 2rem;
  margin-top: 20px;
}

.description {
  color: gray;
  font-size: 1rem;
  margin-top: 20px;
  text-align: justify;
}

.button {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  transition: 200ms;
}

.buttonLite {
  background-color: white;
  color: black;
  font-size: 1.3rem;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  transition: 200ms;
  margin-left: 20px;
}

.button:hover,
.buttonLite:hover {
  cursor: pointer;
  transform: scale(0.98);
}

/* Overlay */

.overlay {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border: 1px solid;
}

.container:hover .overlay {
  opacity: 0.8;
}

.like {
  color: red;
  font-size: 4rem;
  transition: 500ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.like:hover {
  color: red;
  font-size: 4.1rem;
}
/* Overlay ends */
/* Image section ends */

/* footer */
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* you may also like section  */
.maylike_main_body {
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}

.maylike_text {
  flex-direction: column;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.scrollOptions {
  overflow: auto;
  white-space: nowrap;
  margin-top: 10px;
  max-width: 80%;
  padding-bottom: 10px;
}

.option_image {
  width: 280px;
  height: 250px;
  margin-left: 10px;
  transition: 300ms;
}

.option_image:hover {
  transform: scale(0.98);
}

.suggestion {
  flex-direction: column;
}

.smallCategory {
  font-size: 1.5rem;
}

/* style for screen size <= 800 */
@media only screen and (max-width: 800px) {
  .nav_bar {
    flex-direction: column;
    align-items: stretch;
  }

  .icon_hambur {
    justify-content: space-between;
    padding: 4px;
  }

  .maincontent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    animation: growDown 150ms linear;
    transform-origin: top;
  }

  .ham_bur {
    display: block;
    padding: 0px;
    border: 2px solid darkslategray;
    border-radius: 4px;
  }

  /* Animation for dropdown menu */
  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    25% {
      transform: scaleY(0.25);
    }
    50% {
      transform: scaleY(0.5);
    }
    100% {
      transform: scaleY(1);
    }
  }

  /* Image section */

  .category_main_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
  }

  .showcase {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .scrollImages {
    max-width: 350px;
    overflow: auto;
    white-space: nowrap;
  }

  .showcaseText {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .container {
    width: 100%;
    height: 300px;
  }

  .img_small {
    width: 140px;
    height: 120px;
  }

  /* you may like */
  .scrollOptions {
    width: 90%;
    max-width: 100%;
  }
}
